<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about page</a></li>
            <li><a href="/blogs/create">new blogs</a></li>
        </ul>
        <h1>about</h1>
    </nav>

    <div class="about-content">
        <h2>about us</h2>
    </div>
</body>

</html>